*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#2980B9 ;
}
.container{
    margin: auto;
     position: absolute;
    top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 35%;
  background: #5E5E5E;
  display: flex;
  flex-direction: column;
    border-radius: 10px;
    border: 1px solid black;
  align-items: center;
  justify-content: center;
  height: 52%;
}
.logo img{
    width: 50%;
    float: left;
}
.form{
    background: white;
    border-radius: 10px;
    border: 1px solid black;
    width: 90%;
    height: 70%;
}
input[type="text"]{
    margin-top: 2rem;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    width: 90%;
    margin: 0 auto;
    padding: 9% 0 5% 0;
    height: 50%;
}
input[type="text"], input[type="password"] {
    text-align: left;
    position: relative;
    width: 92%;
    padding: 10px;
    margin-bottom: 6%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    outline: none;
    border: none;
    border: 1px solid #999;
    color: #333;
    border-radius: 3px;
    background: #fff;
    transition: all 300ms;
    box-shadow: 0px 2px 5px 0px #eee;
    -wbkit-box-shadow: 0px 2px 2px 0px #EEE;
    -webkit-appearance: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

form a {
    color: #888;
    font-family: 'Open Sans', sans-serif;
}
.text-danger {
    color: #099 !important;
    text-decoration: none;
}
input[type="submit"], input[type="button"], button {
    float: right;
    min-width: 35%;
    padding: 2%;
    /* margin-bottom: 8%; */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFF;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    -webkit-filter: none;
    filter: none;
   
}
.form-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    
}
.ft-info {
    font-size: 14px;
    position: fixed;
    color: white;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 7px 10px 7px;
    border: 1px solid #000;
    box-shadow: 0px 1px rgb(255 255 255 / 10%) inset, 0px 1px 1px rgb(255 255 255 / 20%) inset, 1px 0px rgb(255 255 255 / 8%) inset, -1px 0px rgb(255 255 255 / 8%) inset, 0px 2px 8px rgb(0 0 0 / 50%);
    background: #606060;
    background: -moz-linear-gradient(top, #606060 0%, #4a4a4a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606060), color-stop(100%, #4a4a4a));
    background: -webkit-linear-gradient(top, #606060 0%, #4a4a4a 100%);
    background: -o-linear-gradient(top, #606060 0%, #4a4a4a 100%);
    background: -ms-linear-gradient(top, #606060 0%, #4a4a4a 100%);
    background: linear-gradient(to bottom, #606060 0%, #4a4a4a 100%);
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
footer{
    font-size: 14px;
    position: fixed;
    color: white;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 7px 10px 7px;
    border: 1px solid #000;
    box-shadow: 0px 1px rgb(255 255 255 / 10%) inset, 0px 1px 1px rgb(255 255 255 / 20%) inset, 1px 0px rgb(255 255 255 / 8%) inset, -1px 0px rgb(255 255 255 / 8%) inset, 0px 2px 8px rgb(0 0 0 / 50%);
    background: #606060;
    background: -moz-linear-gradient(top, #606060 0%, #4a4a4a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606060), color-stop(100%, #4a4a4a));
    background: -webkit-linear-gradient(top, #606060 0%, #4a4a4a 100%);
    background: -o-linear-gradient(top, #606060 0%, #4a4a4a 100%);
    background: -ms-linear-gradient(top, #606060 0%, #4a4a4a 100%);
    background: linear-gradient(to bottom, #606060 0%, #4a4a4a 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer-left a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.footer-right a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-right: 1px solid #606060;
}

@media (max-width:700px){
    .container{
        margin-left: 10rem;
    }
}
@media (max-width:620px){
    .container{
        margin-left: 8rem;
    }
}
@media (max-width:500px){
    .container{
        margin-left: 4rem;
    }
}